force-app/main/default/flows/Lead_Owner_since_Update_and_validation_check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Update_Owner_Since</name>
        <label>Update Owner Since</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Since__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>validation_error_message</name>
        <label>validation error message</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>{!errormessageforCountryLeadSourceandNoofEmployees}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_insert_or_update</name>
        <label>check insert or update</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Owner_change_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Since</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_change_Validation</name>
        <label>Owner change Validation</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validation_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>validation_error_message</targetReference>
            </connector>
            <label>Validation failed</label>
        </rules>
        <rules>
            <name>new_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Owner_Since</targetReference>
            </connector>
            <label>new Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>errormessageforCountryLeadSourceandNoofEmployees</name>
        <dataType>String</dataType>
        <expression>CASE({!$Profile.Name}, 
&apos;System Administrator&apos;, &apos;Please enter value in the Lead Source before changing the owner&apos;, 
&apos;Contract Manager&apos;, &apos;Please enter value in the Lead Source, Country before changing the owner&apos;,
&apos;Please enter value in the Lead Source, Country and No. of Employees before changing the owner&apos;)</expression>
    </formulas>
    <formulas>
        <name>isInsert</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <formulas>
        <name>validation</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record__Prior.OwnerId} != {!$Record.OwnerId} 
&amp;&amp;
((ISBLANK({!$Record.Country}) &amp;&amp;  ({!$Profile.Name} != &apos;System Administrator&apos;)) 
||  ISBLANK( TEXT({!$Record.LeadSource}) ) 
||  (ISBLANK( {!$Record.NumberOfEmployees} ) 
       &amp;&amp;  
         (  {!$Profile.Name} != &apos;System Administrator&apos; 
         &amp;&amp; 
            {!$Profile.Name} != &apos;Contract Manager&apos;) )
)</expression>
    </formulas>
    <interviewLabel>Lead Owner since Update and validation check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Owner since Update and validation check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_insert_or_update</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
