force-app/main/default/flows/Update_Country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_countries_via_api</name>
        <label>get_countries_via_api</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <actionName>getcountriesfromapi.getcountriesviaapi</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>iterate_existing_countries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>access_key</name>
            <value>
                <stringValue>ac318362a7fd5f918bd0fecf2d411e45</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getcountriesfromapi.getcountriesviaapi</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_value_to_country</name>
        <label>assign value to country</label>
        <locationX>704</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>iterate_existing_countries.Capital_city__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_list.capital</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_existing_countries.Country_alpha2code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_list.alpha2Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_existing_countries.Country_alpha3code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_list.alpha3Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_existing_countries.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Response_list.region</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>704</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>NeedToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_existing_countries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Response_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>search_country</name>
        <label>search country</label>
        <locationX>836</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Response_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>country_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response_list.name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>iterate_existing_countries.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_value_to_country</targetReference>
            </connector>
            <label>country found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Country</label>
    <loops>
        <name>iterate_existing_countries</name>
        <label>iterate existing countries</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <collectionReference>get_countries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Response_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_country</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Response_list</name>
        <label>Response list</label>
        <locationX>616</locationX>
        <locationY>684</locationY>
        <collectionReference>get_countries_via_api.2XX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>search_country</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>iterate_existing_countries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_countries</name>
        <label>get countries</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_countries_via_api</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_country</name>
        <label>update country</label>
        <locationX>176</locationX>
        <locationY>1368</locationY>
        <inputReference>NeedToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_for_1_min</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-18</startDate>
            <startTime>21:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <apexClass>ExternalService__getcountriesfromapi_getcountriesviaapi_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Country__c</objectType>
    </variables>
    <waits>
        <name>Wait_for_1_min</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait for 1 min</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>get_countries</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
